<script defer src="js/signinphone.js"  type="module"></script>
<div>Identity Platform Quickstart</div>
<div id="message">Loading...</div>
<div id="error"></div>
<div id="recaptcha-container"></div>
 </div>
</div>
<body></body>